<div class="modal" ui-if='addStyleModal' ui-state='addStyleModal' id="beerStyleModal">
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div cg-busy="promise">
                <div class="modal-header">
                    <button class="close"
                            ui-turn-off="addStyleModal">&times;</button>
                    <h4 class="modal-title">Add  Style</h4>
                </div>
                <form name="styleForm" novalidate ng-submit="submitAddStyle(style)">
                    <div class="modal-body">
                        <div class="form-group" ng-class="{'has-error': styleForm.name.$invalid}">
                            <label>Contact E-mail</label>
                            <input type="text" name="email" type="text" class="form-control" ng-model="style.email" placeholder="Email..." required>
                            <p ng-show="styleForm.email.$invalid && styleForm.email.$dirty" class="help-block" >Email is required.</p>
                        </div>
                        <div class="form-group" ng-class="{'has-error': styleForm.name.$invalid}">
                            <label>Style Name</label>
                            <input type="text" name="name" type="text" class="form-control" ng-model="style.name" placeholder="Name..." required>
                            <p ng-show="styleForm.name.$invalid && styleForm.name.$dirty" class="help-block" >Beer name is required.</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>Parent Style</label>
                                    <angucomplete-alt id="addBeerStyle"
                                                      placeholder="Parent Style..."
                                                      pause="100"
                                                      selected-object="style.style"
                                                      local-data="styles"
                                                      search-fields="style"
                                                      title-field="style"
                                                      minlength="1"
                                                      maxlength="10"
                                                      input-class="form-control form-control-small"
                                            />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>Mouthfeel</label>
                                    <input type="text" name="Mouthfeel" class="form-control" ng-model="style.Mouthfeel" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>Aroma</label>
                                    <input type="text" name="Aroma" class="form-control" ng-model="style.Aroma" required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>History</label>
                                    <input type="text" name="History" class="form-control" ng-model="style.History" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>Appearance</label>
                                    <input type="text" name="Appearance" class="form-control" ng-model="style.Appearance" required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>Comments</label>
                                    <input type="text" name="Comments" class="form-control" ng-model="style.Comments" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>Flavor</label>
                                    <input type="text" name="Flavor" class="form-control" ng-model="style.Flavor" required>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>Ingredients</label>
                                    <input type="text" name="Ingredients" class="form-control" ng-model="style.Ingredients" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-2">
                                <div class="form-group">
                                    <label>OG</label>
                                    <input type="text" name="OG" class="form-control" ng-model="style.OG" placeholder="1.XXX - 1.XXX">
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-2">
                                <div class="form-group">
                                    <label>FG</label>
                                    <input type="text" name="FG" class="form-control" ng-model="style.FG" placeholder="1.XXX - 1.XXX">
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-2">
                                <div class="form-group">
                                    <label>IBUs</label>
                                    <input type="text" name="IBUs" class="form-control" ng-model="style.IBUs" placeholder="X - X">
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-2">
                                <div class="form-group">
                                    <label>SRM</label>
                                    <input type="text" name="SRM" class="form-control" ng-model="style.SRM" placeholder="X - X">
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-2">
                                <div class="form-group">
                                    <label>ABV</label>
                                    <input type="text" name="ABV" class="form-control" ng-model="style.ABV" placeholder="X% - X%">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="styleForm.name.$invalid || styleForm.email.$invalid">OK</button>
                        <button ui-turn-off="addStyleModal" class="btn btn-default">Close</button>
                        <p ng-show="styleForm.error" class="pull-left" >{{styleForm.error}}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

