<div class="modal" ui-if='addBeerModal' ui-state='addBeerModal'>
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div cg-busy="promise">
                <div class="modal-header">
                    <button class="close"
                            ui-turn-off="addBeerModal">&times;</button>
                    <h4 class="modal-title">Add Beer</h4>
                </div>
                <form name="beerForm" novalidate ng-submit="submitAddBeer(beer)">
                    <div class="modal-body">
                        <div class="form-group" ng-class="{'has-error': beerForm.email.$invalid}">
                            <label>Contact E-mail</label>
                            <input type="text" name="email" type="text" class="form-control" ng-model="beer.email" placeholder="Email..." required>
                            <p ng-show="beerForm.email.$invalid && beerForm.email.$dirty" class="help-block" >Email is required.</p>
                        </div>
                        <div class="form-group" ng-class="{'has-error': beerForm.name.$invalid}">
                            <label>Beer Name</label>
                            <input type="text" name="name" type="text" class="form-control" ng-model="beer.name" placeholder="Name..." required>
                            <p ng-show="beerForm.name.$invalid && beerForm.name.$dirty" class="help-block" >Beer name is required.</p>
                        </div>
                        <div class="form-group">
                            <label>Beer Style</label>
                            <angucomplete-alt id="addBeerStyle"
                                              placeholder="Style..."
                                              pause="100"
                                              selected-object="beer.style"
                                              local-data="styles"
                                              search-fields="style"
                                              title-field="style"
                                              minlength="1"
                                              maxlength="10"
                                              input-class="form-control form-control-small"
                                    />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="beerForm.name.$invalid || beerForm.email.$invalid">OK</button>
                        <button ui-turn-off="addBeerModal" class="btn btn-default">Close</button>
                        <p ng-show="beerForm.error" class="pull-left" >{{beerForm.error}}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

